/* COLORS */
$red-color: #f64f59;
$purple-color: #c471ed;
$blue-color: #02c2e9;
$path-color: #f6c443;
$visited-color: #124c60;

/* GRADIENT */
$gradient-color: linear-gradient(90deg, #f64f59 0%, #c471ed 50%, #02c2e9 100%);

/* NEUMORPHISM */
$content-color: #E0E5EC;
$light-shawow: rgba(255, 255, 255, 0.5);
$dark-shadow: rgba(163, 177, 198, 0.5);
$neu-shadow: -9px -9px 16px $light-shawow, 9px 9px 16px $dark-shadow;

