
<div class="dialog-wrapper">

    <div class="dialog-header">

        <h1>Select a template</h1>
        <h3>A template create for you a beautiful grid.</h3>

    </div>

    <div class="dialog-content">

        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">

            <mat-grid-tile *ngFor="let templateName of templateNames" (click)="onSelect(templateName)">{{templateName}}</mat-grid-tile>

        </mat-grid-list>

    </div>

    <div class="dialog-actions">

        <button mat-button (click)="onCancel()">Cancel</button>

    </div>

</div>

