<!-- <toolsbar></toolsbar>
 -->

<div id="main-app">

    <div class="top-bar">

        <div>
            <h1>Pathfinding</h1>
            <h3>Amory Rouault</h3>
        </div>

        <button id="information-button" class="information-button" (click)="toggle()"><span>i</span></button>
    </div>

    <div class="container">
        
        <div id="main-container" class="main-container" [@openClose]="isOpen ? 'open' : 'close'">

            <div id="main-container-block">
                <pathfinding-grid></pathfinding-grid>
            </div>
            
            <p id="selected-algorithm-label">You selected '{{getSelectedAlgorithm()}}' algorithm.</p>

        </div>

        <div id="configuration-container" class="configuration-container" [@openCloseConfiguration]="isOpen ? 'open' : 'close'">
            
            <!-- COMPONENT -->
            <div class="configuration-div">

                <!-- <h2>Configuration</h2> -->
                <div class="configuration-div-header">
                    <h2>Algorithms</h2>
                    <button (click)="isOpen = false"><mat-icon>navigate_next</mat-icon></button>
                </div>

                <div class="configuration-div-content">

                    <mat-grid-list cols="2" rowHeight="240px">
                        <mat-grid-tile *ngFor="let algorithm of availableAlgorithms">

                            <div class="algorithm-tile" [ngClass]="{'algorithm-tile-selected': algorithm.type == getSelectedAlgorithm()}">

                                <div class="algorithm-tile-info">
                                    <h3>{{algorithm.title}}</h3>
                                    <p>{{algorithm.description}}</p>
                                </div>

                                <button class="algorithm-tile-button" (click)="onSelectAlgorithm(algorithm.type)">Select</button>

                            </div>

                        </mat-grid-tile>
                    </mat-grid-list>
                    
                </div>

            </div>
            <!-- COMPONENT -->

        </div>

        <div class="os-not-supported" *ngIf="osNotSupported">

            <h1>Unfortunately <span>'{{getOS()}}'</span> is not supported!</h1>

            <h3>Please, use a computer.</h3>

            <p>You can visit <a href="https://amoryrouault.com" target="_blank">amoryrouault.com</a> to discover my projects.</p>
        </div>

    </div>

    <div class="bottom-bar">
        <button id="start-button" class="start-button" (click)="onStart()">{{getStartButtonTitle()}}</button>
    </div>

</div>