<h1>Tutorial</h1>

<h3>- Place the source and the destination with your mouse</h3>

<div class="inline">
    <div class="source"></div>
    <p>This is the source cell</p>
</div>

<div class="inline">
    <div class="destination"></div>
    <p>This is the destination cell</p>
</div>

<h3>- Place walls with your mouse</h3>
<div class="inline">
    <div class="wall"></div>
    <p>This is a wall cell</p>
</div>

<h3>- Hit Start!</h3>

<h3>- Select an algorithm</h3>

<div class="inline">
    <div class="information"><span>i</span></div>
    <p>Choose the algorithm you want to visualize</p>
</div>

<div class="center">
    <button (click)="dialogRef.close()">Let's go!</button>
</div>
